<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title berta - configuration
    body
     .cont
       .logo
          img(src="media/lightIcon.svg", alt="lightIcon")
       .intro
         